<footer class="footer">
  <div class="footer-inner container">
    <div class="footer-brand">

      <div class="nav-logo">
        <a routerLink="/">
          <img src="svg/logo_ticketpro_cabecera.svg" alt="TicketPro Logo" class="logo-img">
        </a>
      </div>
      <p>La forma más fácil de encontrar y comprar entradas para tus eventos favoritos.</p>
    </div>

    <div class="footer-links">
      <div>
        <h4>Secciones</h4>
        <a routerLink="/eventos">Inicio</a>
        <a routerLink="/eventos">Eventos</a>
        <a routerLink="/perfil">Mi Cuenta</a>
      </div>
      <div>
        <h4>Ayuda</h4>
        <a routerLink="/forgot-password">Recuperar contraseña</a>
        <a routerLink="/register">Crear cuenta</a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 TicketPro. Todos los derechos reservados.</p>
  </div>
</footer>
